body{
    font-family: 'Poppins', sans-serif;
     align-items:center;
     background-color:#caccd0;
}

.intro{
    color:
}

table{
    margin:0 auto;
}

.intro{
    background-color: #c0c1c3;
}

.mainlinks{
    background-color:#c0c1c3;
}

.lastsectn{
    background-color:#c0c1c3;
}